.home-text {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}

.driver-list-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}

.remove-button-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.divider {
  background: #d8d8d8;
  height: 2px;
}
